/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$background-color: #fff !default;
$text-color: #1B2F33 !default;
$muted-text-color: #40514e !default;
$primary-color: #B2FFA9 !default;
$border-color: mix(#fff, #40514e, 75%) !default;
$footer-background-color: #B2FFA9 !default;
$link-color: #B2FFA9 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  // color: #1B2F33 !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
